<h3>Create Account</h3>

<div class="parent">
    <label for="name">User Name</label>
    <input type="text" class="center-block" id="name" required>
</div>

<div class="parent">
    <label for="name">Email</label>
    <input type="text" class="center-block" id="name" required>
</div>

<div class="parent">
    <label for="name">Password</label>
    <input type="text" class="center-block" id="name" required>
</div>

<div class="parent">
    <label for="name">Confirm Password</label>
    <input type="text" class="center-block" id="name" required>
</div>

